{% extends "photos/base.html" %}

{% block title %}{{ photo.title }} on Stylist{% endblock %}

{% block content %}
<div style="text-align: center;">
  <img class="pure-img" style="margin-left: auto; margin-right: auto;" src="{{ photo.image.url }}" alt="{{ photo.title }}">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="l-box">
	<a href="{{ photo.get_absolute_url }}">
	  <img class="pure-img" src="{{ photo.image.url }}" alt="{{ photo.title }}">
	</a>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="l-box">
	<a href="{{ photo.get_absolute_url }}">
	  <img class="pure-img" src="{{ photo.style.image.url }}" alt="{{ photo.title }}">
	</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
